################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KanbanBoardAPI/.vs/KanbanBoardAPI/v16/Server/sqlite3
